@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --mainColor: #89216b;
  --whiteColor: #ffffff;
  --titleColor: #555555;
  --labelColor: #333333;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #da4453, var(--mainColor));
  font-weight: 400;
  min-height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 35rem;
  height: 50rem;
}

@media (min-width: 540px) {
  .wrapper {
    width: 40rem;
  }
}

/* Kode gaya Anda yang lainnya... */

.wrapper .form-container.sign-in {
  animation: signin-flip 1s ease-in-out forwards;
}

/* Kode animasi Anda yang lainnya... */
